<p>Welcome to <%= title %></p>
<p id="counter"></p>

<nav>
YouTube Video URL : <input type="text" value="http://" size="60" id="video-url" />
<input type="button" id="view" value="View" />
</nav>
<div id="video"></div>
