<div id="content">
  <div id="video"></div>

  <div id="search">
    <form action="#" id="search-form">
      <input type="text" value="" id="search-keyword" size="45" placeholder="Keyword to search videos" />
    </form>
    <div id="search-result">
      <ul id="search-result-list">
      </ul>
    </div>
  </div>

  <div id="counter"></div>
</div>
