<p>Welcome to <%= title %></p>
<p id="counter"></p>

<nav>
YouTube Video URL : <input type="text" value="http://" size="60" id="video-url" />
<input type="button" id="view" value="View" />
</nav>

<div id="content">
  <div id="video"></div>
  <div id="search">
    <form action="#" id="search-form">
      <input type="text" value="" id="search-keyword" size="45" placeholder="Keyword to search videos" />
      <input type="submit" value="Search" id="button-search" />
    </form>
    <div id="search-result">
      <ul id="search-result-list">
      </ul>
    </div>
  </div>
</div>
