body {
  padding: 10px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 150%;
  margin: 0.3em 0;
}

#content {
  width: 920px;
}

#video, #search {
  float: left;
}

#video {
  width: 540px;
}

#search {
  font-size: 80%;
  width: 360px;
  max-height: 365px;
  padding: 0 10px;
  overflow: scroll;
}

#search-keyword {
  width: 90%;
}

#search-result-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.video-thumb, .video-detail {
  float: left;
  display: block;
}

.video-thumb {
  display: block;
  width: 100px;
}

.video-detail {
  width: 250px;
  padding: 0.3em;
}

.video-item {
  clear: both;
  padding: 0.2em 0;
  min-height: 70px;
}

#search-result-list a {
  display: block;
  margin: 0;
  padding: 0;
}

#search-result-list a:hover {
  color: #ff0;
  background-color: #000;
}

#counter {
  clear: both;
  width: 100%;
  text-align: right;
  padding: 0.2em 1em;
}
