body {
  padding: 10px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 150%;
  margin: 0.3em 0;
}

#content {
  width: 920px;
}

#video, #rightbar {
  float: left;
}

#video {
  width: 540px;
}

#rightbar {
  font-size: 80%;
  width: 360px;
  max-height: 365px;
  padding: 0;
  overflow: scroll;
}

#search-keyword {
  width: 90%;
}

#search-result-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 288px;
  overflow: scroll;
}

.video-thumb, .video-detail {
  float: left;
  display: block;
}

.video-thumb {
  display: block;
  width: 100px;
}

.video-detail {
  width: 200px;
}

.video-item {
  clear: both;
  min-height: 70px;
}

#search-result-list a {
  display: block;
  margin: 0;
  padding: 0;
}

#search-result-list a:hover {
  color: #ff0;
  background-color: #000;
}

#counter {
  clear: both;
  width: 100%;
  height: 365px;
  text-align: right;
  padding: 0.2em 1em;
}

#chat-text {
  width: 90%;
}

#chat-messages {
  height: 288px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: scroll;
}

#chat-messages > li {
  padding: 0.3em;
}
